<script src="http://code.jquery.com/qunit/qunit-1.14.0.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/qunit/qunit-1.14.0.css">

  <style>
  pre {
  	text-align:left;
  	width:500px; 
  	position:relative; 
  	left:10%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#your-result {
	font-size:30px; 
	font-weight:bold; 
	padding-top:100px; 
	padding-bottom:50px; 
	float:right;
	position: relative;
	right: 20%;
}
#warning {
	align:center; 
	position: fixed; 
	bottom: 0px; 
	width: 100%; 
	left: 0px;
	color: black;
	background-color: lightblue; 
	border-radius: 5px;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	line-height:20px; 
	font-size: 16px;
}
body {
	margin-bottom: 350px;
}
  </style>

  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <div align="center" style="text-align:center;">
  <div id="your-result"></div>
  <div style="float:left">
  <h2>Your Solution:</h2>
<pre id="their-solution" style="font-size:18px"><%= raw(@answer) %></pre>
  <h2>Our Solution:</h2>
<pre id="our-solution" style="font-size:18px"><%= raw(@question.solution) %></pre>
  </div>
 </div>
 <div id="warning"><b>Do not go back or attempt to reload this page. You will not be able to view this page again and you will lose any points you might have earned. If no button appears after a few seconds, your answer is incorrect. <a href="/game/play">Navigate back to the game page.</a></b></div>
<script type="text/javascript">
	var answer = <%= raw(@answer) %>
	var oursolution = <%= raw(@question.solution) %>
	<% input_arr = @question.input.split("\r\n") %>
<% input_arr.each do | inp | %>

QUnit.test( "testing on `<%= inp %>` => ", function( assert ) {
  assert.equal( answer.apply(this,[<%= inp %>]), oursolution.apply(this,[<%= inp %>])), "what's up";
});

<% end %>

function formHTML(result){ 
	var points = 0;
	if(result == "Success"){
		points = <%= @question.points %>;
	} else{
		points = <%= @team_answer.points %>
	}
	var str = '<%= form_tag "/game/continue" do %><input type="hidden" name="points" value="' + points + '" /><input type="hidden" name="question_id" value="<%= @question.id %>" /><%= submit_tag "result", class: "button", style: "font-size: 40px" %><% end %>';
	return str.replace("result", result);
}

QUnit.done(function( details ) {
	  console.log( "Total: ", details.total, " Failed: ", details.failed, " Passed: ", details.passed, " Runtime: ", details.runtime );

	if(details.failed === 0){
		document.getElementById('your-result').innerHTML = formHTML("Success")
	} else{
		document.getElementById('your-result').innerHTML = formHTML("Failure")
	}
	
	// document.getElementById('our-solution').innerHTML = oursolution
	// document.getElementById('their-solution').innerHTML = answer

});
</script>

