<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Points</th>
      <th>Prompt</th>
      <th>Tests</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.number %></td>
        <td><%= question.points %></td>
        <td><%= question.prompt %></td>
        <td><%= question.tests %></td>
        <td><%= link_to 'Show', '/questions/' + question.number.to_s %></td>
        <td><%= link_to 'Edit', '/questions/' + question.number.to_s + '/edit' %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Question', new_question_path %></p>
<div style="float:right">
<p><%= link_to 'Reset Game', "/admin/clearpoints", method: :delete, data: { confirm: 'This will clear all current points. Are you sure you want to continue?'} %></p>
<p><%= link_to 'New Game', "/admin/newgame", method: :delete, data: { confirm: 'This will delete all teams, clear all scores, and reset the game. Are you sure you want to continue?'} %></p>
</div>
