<div style = "height: 20px"></div>
<style type="text/css">
	textarea {
	border: 5px solid black;
	border-radius: 10px;
	font-size: 20px;
}
#prompt{
	font-size: 30px;
	line-height: 40px;
}
h3{
	font-size: 40px;
}
h1 {
	font-size: 60px;
}
pre {
  	width:500px; 
  	border-radius: 10px;
  	border: 3px solid black;
  	font-size: 18px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#editor { 
	width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1.3em;
}
</style>
<div align="center">
<p id="notice"><%= notice %></p>

  <h1>Question:</h1>
  <div style="height: 10px"></div>
  <div id="prompt"><%= @question.prompt %></div>
  <div style="height: 20px"></div>

  <h3>Examples:</strong></h3>
 <pre> <%= @question.tests %></pre>
	<h3>Your Answer:</h3>
	<div style="height:20px"></div>
</div>
<div id="editor">
</div>
<!-- a hidden form to help submitting data. -->
	<%= form_tag("/questions/" + params[:id] + "/grade", method: 'post') do %>
		<%= hidden_field_tag :answer %>
		<%= hidden_field_tag :question %>
	<% end %>
	<div style="text-align:center;">
	<button class="button" style="margin-top:20px;font-size: 40px" onclick="submit()">Submit</button>
</div>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/xcode");
    editor.getSession().setMode("ace/mode/javascript");

function submit() {
	var answer = editor.getValue();
	var url = "/questions/" + <%= params[:id] %> + "/grade";
	var question = <%= params[:id] %>;

	$('#question')[0].value = question;
	$('#answer')[0].value = answer;

	document.getElementsByTagName('form')[0].submit();
}
</script>


