<div style = "height: 20px"></div>
<style type="text/css">
	textarea {
	border: 5px solid black;
	border-radius: 10px;
	font-size: 20px;
}
#prompt{
	font-size: 30px;
	line-height: 40px;
}
h3{
	font-size: 40px;
}
h1 {
	font-size: 60px;
}
pre {
  	width:500px; 
  	border-radius: 10px;
  	border: 3px solid black;
  	font-size: 18px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
</style>
<div align="center">
<p id="notice"><%= notice %></p>

  <h1>Question:</h1>
  <div style="height: 10px"></div>
  <div id="prompt"><%= @question.prompt %></div>
  <div style="height: 20px"></div>

  <h3>Examples:</strong></h3>
 <pre> <%= @question.tests %></pre>
<%= form_tag("/questions/" + params[:id] + "/grade", method: "post") do%>
	<h3>Your Answer:</h3>
	<textarea name="answer" rows="6" cols="60"></textarea> 
	<input type="hidden" name="question" value="<%= params[:id] %>"/>
	<div style="height:20px"></div>
	<input class="button" style="font-size: 40px" type="submit" value="Submit" />
<% end %>
</div>

