<% if @message != nil %>
	<script>
		window.onload = function(){alert("<%= @message %>");}
	</script>
<% end %>

<h1>Jeopardy</h1>
<style>
	td,th {
		font-size: 30px;
		font-weight: bolder;
		padding: 30px;
	}
	body {
		text-align: center;
	}
	h1 {
		font-size: 100px;
	}
</style>
<h2>Team <%= @team.name %> has <%= @team.points %> points.</h2>
<table align="center">
<tr>
<th>Ruby</th>
<th>Javascript</th>
<th>Rails</th>
<th>
</th>
</tr>
<% (1..5).each do |i| %>
<tr>
<% (0..3).each do |j| %>
<% question_number = (j*5+i) %>
<% points = i*100 %>
<% if @answered_questions.include?(question_number) %>
<td>
<span style="color:grey"><b><%= points %></b></span>
</td>
<% else %>
<td>
<a href="/questions/<%= question_number %>"><%= points %></a>
</td>
<%end%>
<%end%>
</tr>
<% end %>
</table>